<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: #11171c; width: 100%">
    <ion-button
      style="--background: #4d4195; display: block"
      expand="full"
      href="https://fct-pp.web.app"
      class="margin-auto-horizontal"
      >Clique aqui para acompanhar o evento</ion-button
    >
    <div style="color: #fff" class="ion-padding">
      <p>
        O Centro Acadêmico de Ciência da Computação da FCT-Unesp (câmpus de
        Presidente Prudente) convida a comunidade para o evento on-line "Code
        Talk FCT-Unesp", a realizar-se entre os dias 07 a 31/03.
      </p>
      <p>
        Contaremos com minicursos ministrados por graduandos do curso de Ciência
        da Computação da FCT-Unesp.<br />
        <a href="https://fct-pp.web.app">
          Para participar, faça a sua inscrição aqui!
        </a>
      </p>

      <p>Haverá emissão de certificado de participação.</p>
      <p><b>Não acabou ainda!</b><br />Tem mais vindo aí!!!</p>
      <h2>Confira os replays</h2>
      <ng-container *ngFor="let item of youtube">
        <iframe
          width="400"
          height="225"
          [src]="'https://youtube.com/embed/' + item | safe: 'resourceUrl'"
          frameborder="0"
          allow="encrypted-media; picture-in-picture"
          style="display: block; margin-bottom: 30px"
          class="margin-auto-horizontal"
          allowfullscreen></iframe>
      </ng-container>
    </div>
    <ion-button
      style="--background: #4d4195; display: block"
      expand="full"
      href="https://fct-pp.web.app"
      class="margin-auto-horizontal"
      >Clique aqui para acompanhar o evento</ion-button
    >
  </div>
</ion-content>
