<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ion button block Acompanhe o evento color purple-->

  <div style="background: #11171c; width: 100%">
    <ion-button
      style="--background: #4d4195; display: block"
      expand="full"
      href="https://fct-pp.web.app"
      class="margin-auto-horizontal"
      >Clique aqui para acompanhar o evento</ion-button
    >
    <a href="https://fct-pp.web.app">
      <ion-img
        style="display: block"
        class="margin-auto-horizontal"
        src="assets/events/1.webp"
        style="max-width: 900px"></ion-img>
      <ion-img
        style="display: block"
        class="margin-auto-horizontal"
        src="assets/events/2.webp"
        style="max-width: 900px"></ion-img>
    </a>
    <ion-button
      style="--background: #4d4195; display: block"
      expand="full"
      href="https://fct-pp.web.app"
      class="margin-auto-horizontal"
      >Clique aqui para acompanhar o evento</ion-button
    >
  </div>
</ion-content>
