<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: #11171c; width: 100%">
    <ion-button
      style="--background: #4d4195; display: block"
      expand="full"
      href="https://fct-pp.web.app"
      class="margin-auto-horizontal"
      >Clique aqui para acompanhar o evento</ion-button
    >
    <div style="color: #fff" class="ion-padding">
      <p>
        O Centro Acadêmico de Ciência da Computação da FCT-Unesp (câmpus de
        Presidente Prudente) convida a comunidade para o evento on-line "Code
        Talk FCT-Unesp", a realizar-se entre os dias 07 a 12/03.
      </p>
      <p>
        Contaremos com palestras de profissionais e especialistas em diversas
        áreas de TI. O evento será transmitido
        <a href="https://cacic.page.link/youtube"
          >pelo YouTube, através do nosso canal.</a
        >
      </p>
      <p>Haverá emissão de certificado de participação.</p>
    </div>
    <a href="https://fct-pp.web.app">
      <ion-img
        style="display: block"
        class="margin-auto-horizontal"
        src="assets/events/1.webp"
        style="max-width: 900px"></ion-img>
      <ion-img
        style="display: block"
        class="margin-auto-horizontal"
        src="assets/events/2.webp"
        style="max-width: 900px"></ion-img>
    </a>
    <ion-button
      style="--background: #4d4195; display: block"
      expand="full"
      href="https://fct-pp.web.app"
      class="margin-auto-horizontal"
      >Clique aqui para acompanhar o evento</ion-button
    >
  </div>
</ion-content>
