<div class="markdown-container ion-text-justify ion-padding-horizontal">
  <!-- prettier-ignore -->
  <markdown ngPreserveWhitespaces>
    # Entidades importantes  
    O funcionamento do campus é organizado por uma hierarquia de entidades:  
    
    #### Diretoria
    É o órgão que centraliza as decisões que envolvem o câmpus como um todo. Todas as grandes decisões que precisam ser tomadas na FCT passam pela diretoria.  

    #### Departamentos
    São as centralizações das várias áreas de atuação do câmpus. No momento, a FCT conta com 10 departamentos que cuidam dos cursos que lhe cabem.
    Cada departamento oferece espaços para que os estudantes possam participar, ter poder de voz e de voto nas decisões que serão tomadas. 
    Desta forma, os alunos podem garantir que estão sendo representados e reconhecidos nas reuniões e decisões tomadas por seu departamento.  

    #### Conselhos de Curso
    Tem o dever de cuidar e tomar todas as decisões que sejam específicas para um curso. Ele é composto por um conjunto de professores e pelo menos uma delegação de discentes (alunos).
    As delegações são compostas por um delegado e um suplente, que se faz presente quando o delegado não pode comparecer.
  </markdown>
</div>
