<div class="markdown-container ion-text-justify ion-padding-horizontal">
  <!-- prettier-ignore -->
  <markdown ngPreserveWhitespaces>
    # Sobre a FCT  
    A **FCT** (Faculdade e Ciência e Tecnologia) vê sua origem muito antes de receber essa denominação. Começou como Faculdade de Filosofia, Ciências e Letras de Presidente Prudente em 1957, cujo funcionamento teve início apenas no dia **03 de Maio de 1959**, data que hoje nomeia o Diretório Acadêmico do campus. A jornada da FCT já dura 60 anos, acumulando muita história e processos de mudanças.

    Para entender o nosso presente enquanto universidade, precisamos entender como tudo isso começou, e como lentamente o nosso campus foi tomando a forma plural e as dimensões que tem hoje! Para fazer isso, nada melhor que uma linha do tempo do histórico do campus, desde os primórdios da FCT Presidente Prudente e passando por todas as suas mudanças através das décadas.
  </markdown>
</div>

<div class="timeline-container">
  <object
    class="timeline"
    data="assets/manual-do-calouro/timeline.svg"
    type="image/svg+xml"></object>
</div>
