<div class="text-black" style="margin-top: -1px; padding-bottom: 20px">
  <object
    data="assets/manual-do-calouro/auxilios-triangulo.svg"
    type="image/svg+xml"
    aria-hidden="true"></object>
  <div class="bg-yellow" style="margin-top: -5px; padding-bottom: 1px">
    <div class="markdown-container ion-padding-horizontal ion-text-justify">
      <object
        role="img"
        data="assets/manual-do-calouro/auxilios-title.svg"
        type="image/svg+xml"
        aria-label="Permanência estudantil. Não é ajuda, é direito"></object>
      <!-- prettier-ignore -->
      <markdown ngPreserveWhitespaces>
      As informações e os valores apresentados podem ter sido atualizados! [Procure as fontes oficiais](https://www.fct.unesp.br/#!/administracao/secao-tecnica-academica/bolsas-auxilios/auxilio-permanencia-estudantil/).
    
      ## Auxílios de permanência estudantil
      **Permanência estudantil** engloba todas as ações e aparatos que garantem que o aluno consiga se manter no curso que escolheu.
      Essas ações têm o dever de cobrir as diversas áreas de permanência dos estudantes,
      desde moradia, alimentação, até apoio pedagógico e à saúde mental. 
    
      A permanência estudantil está entre as pautas mais presentes na luta do nosso **movimento estudantil**.
      Foi através dessas lutas que, hoje, o nosso câmpus tem um restaurante universitário de qualidade,
      moradia estudantil e vários programas de auxílios de permanência, 
      sobre as quais iremos falar logo abaixo.
      Procure a assistente social do câmpus se quiser saber mais sobre as ações e auxílios de permanência!
    
      #### Auxílio socioeconômico  
      No valor de **R$ 350,00** por mês,
      essa bolsa existe para cobrir os gastos de permanência do aluno na cidade onde está fazendo seu curso. 
      É destinada aos alunos com renda menor que 1,5 salário mínimo e são priorizados os estudantes com maior necessidade e com rendimento acadêmico maior,
      com duração de **11 meses** para calouros e de **12 meses para veteranos**.
    
      #### Auxílio emergencial  
      Apoio financeiro emergencial para os alunos que precisem se manter na universidade desde a matrícula até a contemplação do auxílio socioeconômico.
      Com o valor de **R$ 350,00** por mês, tem uma duração de **10 meses** e prioriza estudantes em maior vulnerabilidade econômica.
    
      #### Auxílio especial
      Exclusivo para portadores de **deficiência**,
      que possuam mobilidade reduzida ou alguma doença grave.
      O valor varia de **R$200,00** a **R$240,00** por mês.
    
      #### Auxílio aluguel
      No valor de **R$ 250,00** ao mês, 
      esse auxílio existe para dar suporte aos alunos que não conseguiram uma vaga na moradia estudantil e não possuem residência em Presidente Prudente.
      Esse auxílio não pode ser acumulado com o auxílio socioeconômico.
    
      #### Subsídio alimentação
      No valor de **R$75,00** por mês, podendo ser somado ao auxílio socioeconômico,
      esta modalidade existe para cobrir os gastos com alimentação dos alunos.
      Os contemplados também pagam mais barato no Restaurante Universitário,
      o valor passa de **R$3,50** para **R$2,50**.
    
      #### Moradia estudantil
      A moradia estudantil oferece morada para estudantes do câmpus,
      é organizada por uma comissão de alunos e possui uma política de hospedagem:
      caso você não seja contemplado com uma vaga,
      poderá entrar em contato com algum dos moradores e conseguir permanecer na moradia por um tempo.
      
      Para poder ser contemplado por este recurso, o aluno deve possuir uma renda de até 1,5 salário mínimo,
      passar por entrevistas com a assistente social e entregar a documentação necessária.
    
      #### Conseguindo auxílios de permancência estudantil
      Para conseguir os auxílios mencionados acima, 
      alguns fatores precisam ser verificados. Dentre eles: 
      - Ser aluno de graduação da FCT-Unesp;
      - Ter renda bruta familiar de até **1,5 salário mínimo**;
      - Preencher o formulário de inscrição, optando para qual auxílio deseja se inscrever, 
      anexo com os documentos que serão solicitados, e entregar no prazo de entrega;
      - Submeter-se à avaliação socioeconômica com profissional do serviço social;
      - O estudante que já foi contemplado anteriormente deve ter obtido aprovação em pelo menos 50% das matérias cursadas no ano anterior para alunos do segundo ano,
      e em 70% das matérias para os anos subsequentes;
      - O aluno que **recebeu o auxílio** no ano anterior e **reprovou por falta** não poderá renová-lo.
    
      ## Bolsas
      O estudante com um bom desempenho acadêmico pode contar com bolsas de estudos:
      - [Auxílio acadêmico](https://www.fct.unesp.br/#!/administracao/secao-tecnica-academica/bolsas-auxilios/auxilio-aprimoramento/);
      - [Bolsa de extensão universitária](https://www.fct.unesp.br/#!/administracao/secao-tecnica-academica/bolsas-auxilios/baae-ii/);
      - [Bolsa de ações extensionistas](https://www.fct.unesp.br/#!/administracao/secao-tecnica-academica/bolsas-auxilios/bolsa-extensao-universitaria---acoes-extensionistas/);
      - [Bolsa de apoio acadêmico e extensão III](https://www.fct.unesp.br/#!/administracao/secao-tecnica-academica/bolsas-auxilios/baae-iii-monitoria/);
      - [Bolsa núcleo de ensino](https://www.fct.unesp.br/#!/administracao/secao-tecnica-academica/bolsas-auxilios/bolsa-nucleo-de-ensino/);
      - Bolsa de iniciação científica:
        - [PIBIC/PIBITI/CAPES](https://www2.unesp.br/portal#!/prope/editais-prope/bolsas-pibic-pibiti/);
        - [FAPESP](https://fapesp.br/normaspc).
    
      No entanto, não é permitido o acúmulo de bolsas.
    
      ## Dicas  
      - Abra uma conta corrente individual no Banco do Brasil. Os depósitos serão feitos apenas através deste banco, nesta modalidade de conta.  
      - Fique atento ao cronograma das inscrições dos programas e editais oficiais da Unesp em geral e da unidade de Presidente Prudente.  
      - Você pode se hospedar na moradia como um convidado. Procure um morador!
      </markdown>
    </div>
    <div class="pessoas" aria-hidden="true"></div>
  </div>
</div>
