ion-col {
    display: flex;
    min-width: 210px;
    max-width: 500px;
  }
ion-img {
    width: 100%;
}

.clickable-card {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.clickable-card:hover {
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
}