<ion-grid>
  <ion-row>
    <ion-col *ngFor="let l of items">
      <ng-container
        *ngIf="
          l?.url === '' || l?.url === undefined;
          then noUrl;
          else hasUrl
        "></ng-container>

      <ng-template #noUrl>
        <ion-card>
          <ng-container *ngTemplateOutlet="card"></ng-container> </ion-card
      ></ng-template>
      <ng-template #hasUrl>
        <ion-card [href]="l?.url" target="_blank" class="clickable-card">
          <ng-container *ngTemplateOutlet="card"></ng-container> </ion-card
      ></ng-template>

      <ng-template #card>
        <ng-container
          *ngIf="
            l?.image === '' || l?.image === undefined;
            then noImage;
            else hasImage
          "></ng-container>

        <ng-template #noImage
          ><ion-img src="assets/openness/placeholder.webp"></ion-img
        ></ng-template>
        <ng-template #hasImage
          ><ion-img [src]="'assets/openness/' + l.image"></ion-img
        ></ng-template>

        <ion-card-header>
          <ion-card-title> {{ l.title }} </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-wrap">
          {{ l.content }}
        </ion-card-content>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-grid>
