<ion-grid class="grid" style="max-width: 700px">
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/willian-murayama.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Willian Murayama</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Presidente em exercício</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/andressa-yida.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Andressa Yida</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Relações públicas</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/carlos-santana.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Carlos Santana</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Relações públicas</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/guilherme-tomiasi.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Guilherme Tomiasi</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Finanças</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/rafael-rosseto.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Rafael Rosseto</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Finanças</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/mariana-alves.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Mariana Alves</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Ex-presidenta</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/renan-araujo.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Renan Araujo</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Ex-vice-presidente</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-avatar class="grid-avatar">
            <ion-img src="assets/people/daniel-monteiro.webp"></ion-img>
          </ion-avatar>
        </ion-row>
        <ion-row class="grid-text">
          <div><ion-text>Daniel Monteiro</ion-text></div>
        </ion-row>
        <ion-row class="grid-text">
          <div><ion-text color="medium">Ex-eventos</ion-text></div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Gabriel Augusto</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Ex-comunicação</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/rafael-chinaglia.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Rafael Chinaglia</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Ex-comunicação</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/victor-eiji.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Victor Eiji</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Ex-comunicação</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
