<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding">O CACiC</h1>
  <p class="ion-padding">
    O Centro Acadêmico de Ciência da Computação é o órgão de representação
    estudantil do curso de Bacharelado em Ciência da Computação da FCT-Unesp. A
    organização defende os interesses e direitos dos alunos.
  </p>
  <h1 class="ion-padding">Chapa Margaret Hamilton</h1>
  <app-slate-grid></app-slate-grid>

  <div style="text-align: center">
    <p
      color="medium"
      style="text-decoration: underline; cursor: pointer"
      [routerLink]="['./app']"
    >
      Sobre este site
    </p>
  </div>
</ion-content>
