<h1 class="ion-padding">Chapa Katie Bouman</h1>
<ion-grid class="grid" style="max-width: 700px">
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/willian-murayama.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Willian Murayama</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Presidente</ion-text></div>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Abigail Nakashima</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Vice-presidente</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/andressa-yida.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Andressa Yida</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Relações públicas</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Gabrielly Moreira</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Relações públicas</ion-text></div>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Lucas Bernardo</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Comunicação</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Paulo Júnior</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Comunicação</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Ana Kodama</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Eventos</ion-text></div>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-avatar class="grid-avatar">
          <ion-img src="assets/people/avatar-placeholder.webp"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text>Cristian Eidi</ion-text></div>
      </ion-row>
      <ion-row class="grid-text">
        <div><ion-text color="medium">Finanças</ion-text></div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
