<div class="markdown-container ion-text-justify ion-padding-horizontal">
  <div class="ion-text-center" style="margin-top: 30px; margin-bottom: 20px">
    <h1 class="knewave movimento-estudantil-title">Movimento estudantil</h1>
    <h3 class="movimento-estudantil-subtitle">
      Estudantes,&nbsp;uni-vos! Juntos&nbsp;somos&nbsp;fortes!
    </h3>
  </div>
  <!-- prettier-ignore -->
  <markdown ngPreserveWhitespaces>
      O Movimento Estudantil (ME) na FCT é a organização composta pelos estudantes do câmpus para defender os interesses dos alunos, lutar por seus direitos e para dar voz à coletividade estudantil que precisa ser ouvida.

      Todos os alunos estão compondo o Movimento Estudantil através de ações corriqueiras,
      como a presença e participação em assembleias ou apoiando os colegas de câmpus em suas lutas,
      ou através do ingresso em órgãos estudantis como o Diretório acadêmico, Centro acadêmico do seu curso ou coletivos do câmpus.

      O ME esteve presente durante toda a história do Brasil desde o século passado,
      levando consigo a voz dos estudantes sobre os mais diversos temas,
      desde temas políticos e de defesa da educação até na luta contra a ditadura militar.
      Suas entidades pelo país são organizadas, dirigidas e compostas por estudantes
      e todos nós participamos de suas construções e funcionamentos.

      O DCE (Diretório Central de Estudantes) Helenira Resende da UNESP é uma das entidades mais importantes no ME,
      centralizando todos os campi para articular nossas lutas de forma eficiente
      e são responsáveis também por organizar as demandas vindas dos DAs de cada unidade.

      # Diretório acadêmico
      O Diretório acadêmico, chamado de DA,
      é a entidade que centraliza os centros acadêmicos e demais entidades estudantis de um câmpus.
      Eles são responsáveis por promover as assembleias gerais,
      onde todos os estudantes tem direito de voz e de voto para decidir os rumos do movimento estudantil em comunidade.

      É responsabilidade do DA também fazer as indicações de representantes discentes
      escolhidos pelos estudantes de cada curso para representá-los nos departamentos ou nos conselhos de curso.

      # Centros acadêmicos
      Os centros acadêmicos, chamados de CA, são órgãos de representação estudantil,
      que cuidam dos cursos de cada câmpus, defendendo os interesses acadêmicos dos
      discentes, além de promover, organizar e participar de congressos, atividades científicas,
      culturais, sociais e esportivas. 

      # Assembleias e plenárias
      Ambos são momentos em que os alunos se reúnem para discutir determinados assuntos,
      muitas vezes buscando soluções para os problemas enfrentados. 
      A diferença entre uma e outra é o caráter deliberativo que a assembleia possui,
      ou seja, nela pode-se votar propostas e tomar decisões,
      o que não ocorre em uma plenária, que possui um enfoque no diálogo e debate.

      Para garantir que as assembleias realmente representem o corpo estudantil como um todo,
      é estipulado no estatuto (um conjunto de regras que definem uma entidade) da entidade
      que convocou a assembleia um quórum, que discrimina a quantidade mínima de participantes
      necessários para que a assembleia aconteça, dessa forma, um grupo reduzido demais não poderá
      tomar decisões pelo coletivo. 
      Nos casos em que o quórum não é atingido, normalmente é convocada uma plenária ao invés de assembleia e esta é postergada.  
      Nota-se, portanto, que a presença neste tipo de interação discente é essencial.

      Os momentos que compõem uma assembleia comumente são:
      - **Informes:** espaço para os participantes atualizarem os companheiros de reunião sobre acontecidos, fatos, decisões ou outras informações relevantes aos temas.
      - **Pontos de pauta:** são os temas que serão discutidos, um a um, na intenção de encontrar soluções ou caminhos para eles. Todo aluno pode sugerir um ponto de pauta para uma assembleia ou plenária.
      - **Discussão:** são debatidas cada uma das pautas apresentadas, e as possíveis soluções ou caminhos para cada uma delas são feitas na forma de propostas que serão votadas em um momento seguinte.
      - **Regime de votação:** momento exclusivo às reuniões deliberativas (como assembleias), onde cada proposta feita é votada por todos os presentes.

      Para ficar por dentro dos termos comumente utilizados nesse tipo de reunião, e para saber como contribuir para manter a ordem e a clareza do que está sendo debatido, seguem abaixo uma pequena lista de termos:
      - **Questão de ordem:** é um tipo de fala altamente prioritária, que deve dizer respeito ao andamento da reunião e sua estrutura ou sistematização, com o objetivo de mantê-la organizada e respeitosa. Qualquer momento que não seja um regime de votação deve ser temporariamente interrompido para que a questão de ordem seja feita.
      - **Questão de entendimento:** é um tipo de fala usada para que cada participante possa verbalizar suas dúvidas sobre o significado de alguma pauta, proposta ou termo e seguir no debate compreendendo claramente o que está sendo dito.
      - **Bandeira:** é como são chamadas as ideias que um dado grupo defende.
      - **Supressão:** é a remoção de um item, como pautas ou propostas, por exemplo.

      # Paralisação e greve
      Na paralisação, ocorre a suspensão das atividades acadêmicas por partes dos alunos.  
      A greve é a suspensão total das atividades acadêmicas e sociais do câmpus ou universidade.
    </markdown>
</div>
<div
  style="width: 100%; padding-top: 32px; padding-bottom: 32px"
  class="bg-grey">
  <div class="markdown-container">
    <div class="bg-grey ion-padding-horizontal">
      <object
        class="margin-auto-horizontal"
        role="img"
        data="assets/manual-do-calouro/me-cartazes.svg"
        type="image/svg+xml"
        aria-label="Professores, alunos e funcionários unidos por uma educação de qualidade. Unesp presidente prudente."
        style="max-width: 1000px; display: block"></object>
    </div>
  </div>
</div>
