<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Manual do calouro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <div class="title-container">
    <object
      class="title"
      data="assets/manual-do-calouro/title.svg"
      type="image/svg+xml"
    ></object>
  </div>

  <div class="markdown-container ion-text-justify">
    <markdown ngPreserveWhitespaces>
      # Introdução Este **manual** tem como proposta a apresentação dos pontos
      essenciais para a compreensão do ambiente acadêmico da **FCT**, suas
      estruturas físicas, organização, políticas e entidades. Ela apresentará,
      em largas pinceladas, a hierarquia dos órgãos e entidades ativas no
      campus, suas funções, bem como as entidades estudantis responsáveis por
      cuidar dos interesses dos estudantes durante suas atividades na
      Universidade em nível pessoal, de curso e de corpo discente como um todo.
      Servirá também como um guia inicial de compreensão do **Movimento
      Estudantil da FCT**, contendo informações sobre a organização e o
      funcionamento de assembleias, plenárias e demais mecanismos de articulação
      e luta por uma universidade de qualidade e pelos interesses dos
      estudantes.
    </markdown>
    <markdown ngPreserveWhitespaces>
      # Sobre a FCT A **FCT** (Faculdade e Ciência e Tecnologia) vê sua origem
      muito antes de receber essa denominação. Começou como Faculdade de
      Filosofia, Ciências e Letras de Presidente Prudente em 1957, cujo
      funcionamento teve início apenas no dia **03 de Maio de 1959**, data que
      hoje nomeia o Diretório Acadêmico do campus. A jornada da FCT já dura 60
      anos, acumulando muita história e processos de mudanças. Para entender o
      nosso presente enquanto universidade, precisamos entender como tudo isso
      começou, e como lentamente o nosso campus foi tomando a forma plural e as
      dimensões que tem hoje! Para fazer isso, nada melhor que uma linha do
      tempo do histórico do campus, desde os primórdios da FCT Presidente
      Prudente e passando por todas as suas mudanças através das décadas.
    </markdown>
  </div>

  <div class="timeline-container">
    <object
      class="timeline"
      data="assets/manual-do-calouro/timeline.svg"
      type="image/svg+xml"
    ></object>
  </div>

  <div class="markdown-container ion-text-justify">
    <markdown ngPreserveWhitespaces>
      # Cursos A FCT conta hoje com 12 cursos de graduação que são a base do
      ensino ministrado na instituição. Cada curso tem seu período ou períodos
      distribuídos entre matutino, integral e noturno e a extensão de cada
      graduação depende de sua grade curricular. Como a FCT dispõe de um dos
      maiores campus dentre as UNESP, há uma experiência muito rica de
      interdisciplinaridade, onde alunos de todos os cursos convivem nos espaços
      comuns, trocam experiências, constroem juntos o Movimento Estudantil da
      faculdade e debatem as várias e distintas visões de mundo que trazem de
      suas vivências.
    </markdown>
    <markdown ngPreserveWhitespaces>
      # Entidades importantes O funcionamento do campus é organizado por uma
      hierarquia de entidades. A **Diretoria** é o órgão que centraliza as
      decisões que envolvem o campus como um todo, e todas as grandes decisões
      que precisam ser tomadas na FCT passam pela diretoria. Os
      **Departamentos** (como os de Matemática Computação, de Fisioterapia ou de
      Educação) são as centralizações das várias áreas de atuação do campus. No
      momento, a FCT conta com 10 departamentos que cuidam dos cursos que lhe
      cabem. Cada departamento oferece um número de espaços para que os
      estudantes possam participar, ter poder de voz e de voto nas decisões que
      serão tomadas. Dessa forma, os alunos podem garantir que estão sendo
      representados e reconhecidos nas reuniões e caminhos tomados por seu
      departamento. Os **Conselhos de Curso**, por outro lado, tem o dever de
      cuidar e tomar todas as decisões que sejam específicas para um curso. Ele
      é composto por um conjunto de professores e pelo menos uma delegação de
      discentes (alunos). As delegações são compostas por um delegado e um
      suplente, que se faz presente quando o delegado não pode comparecer.
    </markdown>
  </div>
</ion-content>
