<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Manual do calouro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <div class="title-container">
    <object
      class="title"
      data="assets/manual-do-calouro/title.svg" type="image/svg+xml"></object>
  </div>

  <!-- prettier-ignore -->
  <div class="markdown-container ion-text-justify">
    <markdown ngPreserveWhitespaces>
      # Introdução  
      Este **manual** tem como proposta a apresentação dos pontos essenciais para a compreensão do ambiente acadêmico da **FCT**, suas estruturas físicas, organização, políticas e entidades. Ela apresentará, em largas pinceladas, a hierarquia dos órgãos e entidades ativas no campus, suas funções, bem como as entidades estudantis responsáveis por cuidar dos interesses dos estudantes durante suas atividades na Universidade em nível pessoal, de curso e de corpo discente como um todo.

      Servirá também como um guia inicial de compreensão do **Movimento Estudantil da FCT**, contendo informações sobre a organização e o funcionamento de assembleias, plenárias e demais mecanismos de articulação e luta por uma universidade de qualidade e pelos interesses dos estudantes.
    </markdown>
    <markdown ngPreserveWhitespaces>
      # Sobre a FCT  
      A **FCT** (Faculdade e Ciência e Tecnologia) vê sua origem muito antes de receber essa denominação. Começou como Faculdade de Filosofia, Ciências e Letras de Presidente Prudente em 1957, cujo funcionamento teve início apenas no dia **03 de Maio de 1959**, data que hoje nomeia o Diretório Acadêmico do campus. A jornada da FCT já dura 60 anos, acumulando muita história e processos de mudanças.

      Para entender o nosso presente enquanto universidade, precisamos entender como tudo isso começou, e como lentamente o nosso campus foi tomando a forma plural e as dimensões que tem hoje! Para fazer isso, nada melhor que uma linha do tempo do histórico do campus, desde os primórdios da FCT Presidente Prudente e passando por todas as suas mudanças através das décadas.
    </markdown>
  </div>

  <div class="timeline-container">
    <object
      class="timeline"
      data="assets/manual-do-calouro/timeline.svg"
      type="image/svg+xml"
    ></object>
  </div>

  <!-- prettier-ignore -->
  <div class="markdown-container ion-text-justify">
    <markdown ngPreserveWhitespaces>
      # Cursos  
      A FCT conta hoje com 12 cursos de graduação que são a base do ensino ministrado na instituição. Cada curso tem seu período ou períodos distribuídos entre matutino, integral e noturno e a extensão de cada graduação depende de sua grade curricular. Como a FCT dispõe de um dos maiores campus dentre as UNESP, há uma experiência muito rica de interdisciplinaridade, onde alunos de todos os cursos convivem nos espaços comuns, trocam experiências, constroem juntos o **Movimento Estudantil** da
      faculdade e debatem as várias e distintas visões de mundo que trazem de suas vivências.
    </markdown>
    <markdown ngPreserveWhitespaces>
      # Entidades importantes  
      O funcionamento do campus é organizado por uma hierarquia de entidades:  
      
      #### Diretoria  
      É o órgão que centraliza as decisões que envolvem o campus como um todo, e todas as grandes decisões que precisam ser tomadas na FCT passam pela diretoria.  
      #### Departamentos  
      (como os de Matemática Computação, de Fisioterapia ou de Educação) são as centralizações das várias áreas de atuação do campus. No momento, a FCT conta com 10 departamentos que cuidam dos cursos que lhe cabem. Cada departamento oferece um número de espaços para que os estudantes possam participar, ter poder de voz e de voto nas decisões que serão tomadas. Dessa forma, os alunos podem garantir que estão sendo representados e reconhecidos nas reuniões e caminhos tomados por seu departamento.  
      #### Conselhos de Curso  
      por outro lado, tem o dever de cuidar e tomar todas as decisões que sejam específicas para um curso. Ele é composto por um conjunto de professores e pelo menos uma delegação de discentes (alunos). As delegações são compostas por um delegado e um suplente, que se faz presente quando o delegado não pode comparecer.
    </markdown>
    <markdown ngPreserveWhitespaces>
      # Auxílios  
      Permanência Estudantil são todas as ações e aparatos que existem para garantir que o aluno consiga se manter no curso que escolheu. Essas ações tem o dever de cobrir as diversas áreas de permanência dos estudantes, desde moradia e alimentação, até apoio à saúde mental e pedagógico **(os dados dispostos a seguir são do ano de 2020)**.

      A **Permanência Estudantil** está entre as pautas mais presentes na luta do nosso Movimento Estudantil. Foi através dessas lutas que hoje o nosso campus tem a presença de um Restaurante Universitário de qualidade, Moradia Estudantil e vários programas de bolsas para permanência, sobre as quais iremos falar logo abaixo. Procure a assistente social do campus se quiser saber mais sobre as ações e bolsas de permanência!

      #### Auxílio Socioeconômico  
      No valor de **R$ 350,00** por mês, essa bolsa existe para cobrir os gastos de permanência do aluno na cidade onde está fazendo seu curso. É destinada aos alunos com renda menor que 1,5 salários mínimos e são priorizados os estudantes com maior necessidade e com rendimento acadêmico maior, com duração de **11 meses** para calouros e de **12 meses para veteranos**.

      #### Auxílio Emergencial  
      Emergencial Apoio financeiro para os alunos que precisem se manter na universidade desde a matrícula até que sejam contemplados pelo auxílio socioeconômico. É no valor de **R$ 350,00** por mês, tem uma duração de **10 meses** e prioriza estudantes com maior vulnerabilidade econômica.

      #### Auxílio Especial
      Exclusivo para portadores de **alguma deficiência**, que possuam mobilidade reduzida ou alguma doença grave. Valor varia de **R$200,00** a **R$240,00** por mês.

      #### Auxílio Aluguel
      No valor de R$ 250,00 ao mês, esse auxílio existe para dar suporte aos alunos que não conseguiram uma vaga na moradia estudantil e não possuem residência em Presidente Prudente. Esse auxílio não pode ser acumulado com o auxílio socioeconômico.

      #### Subsídio Alimentação
      No valor de **R$75,00** por mês, podendo ser somado ao auxílio socioeconômico, esta modalidade existe para cobrir os gastos com alimentação dos alunos. Os contemplados também pagam mais barato no Restaurante Universitário, o valor passa de **R$3,50** para **R$2,50**.

      #### Moradia Estudantil
      A moradia estudantil oferece casa para estudantes do campus, é organizada por uma comissão de alunos e possui uma política de hospedagem: caso você não seja contemplado com uma vaga, poderá entrar em contato com algum dos moradores e conseguir permanecer na moradia por um tempo. Para poder ser contemplado por este recurso, o aluno deve possuir uma renda de até 1,5 salários mínimos, passar por entrevistas com a assistente social e entregar a documentação necessária.

      # Conseguindo auxílios
      Para conseguir os auxílios mencionados acima, alguns fatores precisam ser verificados. Entre eles: Ser aluno de graduação da FCT - Unesp;
      Ter renda bruta familiar de até **1,5 salários mínimos**;

      Preencher o formulário de inscrição, optando para qual auxílio deseja se inscrever, anexo com os documentos que serão solicitados, e entregar no prazo de entrega;
      Submeter-se à avaliação socioeconômica com profissional do serviço social;

      O estudante que já foi contemplado anteriormente deve ter obtido aprovação em pelo menos 50% das matérias cursadas no ano anterior para alunos do segundo ano, e em 70% das matérias para os anos subsequentes;

      O aluno que **recebeu o auxílio** no ano anterior e **reprovou por falta** não poderá renová-lo.

      #### Dicas  
      Crie o quanto antes uma conta no Banco do Brasil. Pois os depósitos serão feitos através desse banco  
      Fique atento ao cronograma de inscrições dos programas e editais oficiais da unidade da Unesp de Presidente Prudente  
      Você pode se hospedar na moradia como convidado! Procure um morador!
    </markdown>
  </div>
</ion-content>
