.title-container {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.title {
  width: 80vw;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.markdown-container {
  max-width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-yellow {
  background-color: #ffde59;
}

.bg-grey {
  background-color: #212121;
}

@import 'https://fonts.googleapis.com/css?family=Knewave';

.knewave {
  font-family: 'Knewave', cursive, serif;
  text-transform: uppercase;
}
