<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Manual do calouro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <div class="title-container bg-grey">
    <object
      class="title"
      data="assets/manual-do-calouro/title.svg"
      type="image/svg+xml"
      aria-role="img"
      aria-label="Manual do calouro. FCT Unesp"></object>
  </div>

  <app-manual-introducao></app-manual-introducao>
  <app-manual-sobre-fct></app-manual-sobre-fct>
  <app-manual-cursos></app-manual-cursos>
  <app-manual-entidades></app-manual-entidades>
  <app-manual-movimento-estudantil></app-manual-movimento-estudantil>
  <app-manual-auxilios></app-manual-auxilios>
  <app-manual-glossario></app-manual-glossario>
</ion-content>
