<div class="markdown-container ion-text-justify ion-padding-horizontal">
  <!-- prettier-ignore -->
  <markdown ngPreserveWhitespaces>
    # Cursos  
    A FCT conta hoje com 12 cursos de graduação que são a base do ensino ministrado na instituição.  
    Os cursos estão distribuídos nos períodos matutino, integral e noturno.
    A extensão desses períodos depende da grade curricular de cada graduação.  
    Como a FCT dispõe de um dos maiores campi dentre as UNESP, há uma experiência muito rica de interdisciplinaridade,
    onde alunos de todos os cursos convivem nos espaços comuns, trocam experiências, constroem juntos o **movimento estudantil** da
    faculdade e debatem sobre suas variadas e distintas visões de mundo, que são trazidas de suas vivências.
  </markdown>
</div>
