<div class="markdown-container ion-text-justify ion-padding-horizontal">
  <!-- prettier-ignore -->
  <markdown ngPreserveWhitespaces>
    # Cursos  
    A FCT conta hoje com 12 cursos de graduação que são a base do ensino ministrado na instituição. Cada curso tem seu período ou períodos distribuídos entre matutino, integral e noturno e a extensão de cada graduação depende de sua grade curricular. Como a FCT dispõe de um dos maiores campus dentre as UNESP, há uma experiência muito rica de interdisciplinaridade, onde alunos de todos os cursos convivem nos espaços comuns, trocam experiências, constroem juntos o **Movimento Estudantil** da
    faculdade e debatem as várias e distintas visões de mundo que trazem de suas vivências.
  </markdown>
</div>
