<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Acesso rápido</ion-card-title>
          </ion-card-header>
          <app-link-list [urlList]="urlList"></app-link-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 class="ion-padding" style="margin-bottom: 0px">O CACiC</h1>
  <p class="ion-padding-horizontal" style="margin-top: 0px">
    O Centro Acadêmico de Ciência da Computação é o órgão de representação
    estudantil do curso de Bacharelado em Ciência da Computação da FCT-Unesp. A
    organização defende os interesses e direitos dos alunos. A direção do CA é
    escolhida por meio de eleições periódicas, entre chapas de alunos do curso.
  </p>
  <app-slate-grid></app-slate-grid>
</ion-content>
