<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-date></app-date>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-info></app-info>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-links></app-links>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
