.goHomeButton {
  margin-bottom: 16px;
}

ion-card {
  max-width: 776px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 800px) and (max-width: 991px) {
    max-width: 684px;
  }
}

.card-container {
  margin-left: 16px;
  margin-right: 16px;
}
