<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Árvore de links</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding ion-text-center" style="max-width: 700px">
    <ion-row>
      <ion-col>
        <ion-img
          src="assets/logo/1024-ionicblue.png"
          alt="CACiC"
          style="width: 152px; cursor: pointer"
          [routerLink]="['']"
          routerDirection="root"
          class="margin-auto-horizontal"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>Centro acadêmico de Ciência da Computação</span>
        <br />
        <span>FCT-Unesp</span>
        <p style="font-size: 1em; margin: 5px 0 0 0"></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button href="https://youtube.com/cacicfct" fill="clear">
          <ion-icon name="logo-youtube" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button href="https://instagram.com/cacic.fct" fill="clear">
          <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button href="https://facebook.com/cacic.fct" fill="clear">
          <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button href="mailto:cacic.fct@gmail.com" fill="clear">
          <ion-icon name="mail" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container
    *ngIf="
    cardList?.length === 0 || cardList === undefined;
    then noItems;
    else hasItems
  "></ng-container>

  <ng-template #noItems>
    <ion-card>
      <ion-card-header>
        <ion-card-title> Nossa árvore de links está vazia! </ion-card-title>
      </ion-card-header>
      <ion-button
        expand="block"
        routerLink="/home"
        routerDirection="root"
        class="ion-padding-horizontal goHomeButton">
        Ir à página inicial
      </ion-button>
    </ion-card>
  </ng-template>

  <ng-template #hasItems>
    <ng-container *ngFor="let l of cardList">
      <ion-card>
        <ion-card-header>
          <ion-card-title> {{ l?.title }}</ion-card-title>
        </ion-card-header>
        <app-link-list [urlList]="l?.content"></app-link-list>
      </ion-card>
    </ng-container>
  </ng-template>
</ion-content>
