<ion-card>
  <ion-card-header>
    <ion-card-title>Últimas informações</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-wrap">
      O CACiC está aguardando a próxima reunião do conselho de curso, que deve
      ocorrer na 3ª semana de março.
    </ion-label>
  </ion-item>

  <ng-container *ngFor="let l of infoList">
    <ng-container
      *ngIf="
        l?.url === '' || l?.url === undefined;
        then noUrl;
        else hasUrl
      "></ng-container>
    <ng-template #noUrl>
      <ion-item>
        <ion-text slot="start">{{ l?.date.slice(0, -3) }} </ion-text>
        <ion-label class="ion-text-wrap">
          {{ l.content }}
        </ion-label>
      </ion-item></ng-template
    >
    <ng-template #hasUrl>
      <ion-item href="{{ l?.url }}">
        <ion-text slot="start">{{ l?.date.slice(0, -3) }} </ion-text>
        <ion-label class="ion-text-wrap">
          {{ l.content }}
        </ion-label>
      </ion-item></ng-template
    >
  </ng-container>
</ion-card>
