name: main

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          name: Build-artifacts
          path: build/

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: Build-artifacts
          path: build

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: Build-artifacts

  scrape:
    needs: deploy
    runs-on: ubuntu-latest

    env:
      TYPESENSE_API_KEY: ${{ secrets.TYPESENSE_API_ADMIN }}
      TYPESENSE_HOST: typesense.cacic.dev.br
      TYPESENSE_PORT: 443
      TYPESENSE_PROTOCOL: https
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run DocSearch Scraper
        shell: bash
        run: |
          docker run \
           -e TYPESENSE_API_KEY=${{ env.TYPESENSE_API_KEY }} \
           -e TYPESENSE_HOST="${{ env.TYPESENSE_HOST }}" \
           -e TYPESENSE_PORT="${{ env.TYPESENSE_PORT }}" \
           -e TYPESENSE_PROTOCOL="${{ env.TYPESENSE_PROTOCOL }}" \
           -e CONFIG="$(cat typesense-config.json | jq -r tostring)" \
           typesense/docsearch-scraper
